name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.8', 'pypy3' ]
    name: Python ${{ matrix.python-version }}
    steps:
      - name: Checkout GigaGenSOM
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install PyTest
        run: pip install pytest pytest-clarity

      - name: Run tests
        run: |
          pytest

      - name: Install and Run PyLint
        run: |
          pip install pylint
          pylint gen som tests main.py
        if: startsWith(matrix.python-version, 'pypy') == false
      
      - name: Install and Run Black
        run: |
          pip install black
          black --check --diff gen som tests main.py
        if: startsWith(matrix.python-version, 'pypy') == false
